<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Document</title>
</head>
<body>
    <header>
        <h1>Remote jobs</h1>
    </header>

    <main>
        <form action="/remote_job" method="get">
            <!-- <div> -->
                <h2>Search by term</h2>
                <input type="text" name="word" id="" placeholder="i.e python">
                <button>Find my job</button>
            <!-- </div> -->

        </form>
    </main>
</body>
</html>