<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <header>
        <h1>Remote Jobs</h1>
        <h2>{{job_num}} {{word}} jobs found</h2>
        <h3><a href="/export?word={{word}}">Export to csv</a></h3>
        <h3><a href="/"><span class="material-icons">
keyboard_backspace</span>go back</a></h3>

    </header>
    <main>
        {%for job in jobs%}
        <div>
            <h3>{{job.title}}</h3>
            <h4>{{job.company}}</h4>
            <h4><a href={{job.link}} target="_blank">Apply</a></h4>
            <hr>
        </div>
        {%endfor%}
    </main>
</body>
</html>